
<div class="container p-5" id="about">
    <h1>About Me</h1>
    <p>
        I’m a passionate Information Technology undergraduate from the Ho Chi Minh University of Technology and Education, with a strong foundation in AI and Data Science. I’m currently focused on expanding my skills in machine learning, deep learning, and data analysis. My goal is to apply my knowledge to real-world challenges and contribute positively to society. I have a strong technical skillset, including proficiency in Python, C++, C#, Java, SQL, JavaScript, and R. My expertise spans AI Engineering, Data Science, Predictive Modelling, NLP, Computer Vision, and Web Development. I have been recognized with awards such as the Consolation Prizes Open Source - OLP 2023. I’m also involved in an open-source project using a large language model for semantic search and creating a chatbot for legal documents. If you’re looking to collaborate or require any assistance, feel free to reach out.
    </p>
</div>

